

<div class="login-container">
  <div class="form-container">
    
    <!-- Escudo de armas con tamaño específico y filtro blanco y negro -->
    <img src="https://upload.wikimedia.org/wikipedia/commons/8/88/Escudo_Ejercito_Nacional_de_Colombia.svg" 
         alt="Escudo de armas Ejército Nacional de Colombia" 
         class="logo">
    
    <!-- Títulos -->
    <h2 class="title">Iniciar sesión</h2>
    <p class="subtitle">Ingrese su información</p>
    
    <!-- Formulario de inicio de sesión -->
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" [(ngModel)]="identificacion" name="identificacion" class="form-control" id="identificacion" placeholder="Número de identificación" aria-label="Número de identificación" required>
      </div>
      <div class="form-group">
        <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder="Contraseña" aria-label="Contraseña" required>
      </div>
      <button type="submit" class="submit-btn">Iniciar sesión</button>
    </form>

    <!-- Mensaje de error -->
    <div *ngIf="showError" class="error-message">
      Por favor completa ambos campos.
    </div>
  </div>
</div>

<!-- Popup Modal -->
<div *ngIf="showPopup" id="popup" class="popup-modal">
  <div class="popup-content">
    <p>Autenticación aceptada</p>
    <div class="checkmark-container">
      <span class="checkmark">✔</span>
    </div>
  </div>
</div>
