<div class="home-container">
  <!-- Encabezado -->
  <header class="header">
    <div class="logo-container">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/88/Escudo_Ejercito_Nacional_de_Colombia.svg" 
      alt="Escudo de armas Ejército Nacional de Colombia" 
      class="logo">
      <span class="title">Alarmil</span>
    </div>
    <div class="header-icons">
      <!-- Icono de configuración -->
      <div class="settings-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
          <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492M5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0"/>
          <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52z"/>
        </svg>
      </div>
      <!-- Icono de notificaciones -->
      <div class="notification-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
        </svg>
        <span class="notification-count">9</span>
      </div>
      <!-- Icono de usuario -->
      <div class="user-icon-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg>
      </div>
    </div>
  </header>
  
  <!-- Formulario envuelto en un contenedor con clase form-container -->
  <div class="form-container">
    <form [formGroup]="alarmForm" (ngSubmit)="onSubmitAlarm()">
      <div class="form-group">
        <label for="hora" class="label-hora">Hora</label>
        <div class='input-group date' id='timepicker'>
          <input type="time" formControlName="hora" required />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
          </span>
        </div>
      </div>
      
      <div class="form-group">
        <label for="fecha" class="label-fecha">Fecha</label>
        <div class='input-group date' id='datepicker'>
          <input type="date" formControlName="fecha" required />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="mision" class="label-mision">Misión</label>
        <select class="form-control" formControlName="mision" required>
          <option value="" disabled selected>Seleccione una misión</option>
          <option value="M001">Misión 001</option>
          <option value="M002">Misión 002</option>
        </select>
      </div>
      
      <button type="submit" class="submit-btn" [disabled]="!alarmForm.valid">Crear alarma</button>
    </form>
  </div>
  
  <!-- Popup Modal -->
  <div *ngIf="showPopup" id="popup" class="popup-modal">
    <div class="popup-content">
      <p>Alarma creada exitosamente</p>
      <div class="checkmark-container">
        <span class="checkmark">✔</span>
      </div>
   
